{{> private/slide}}

<div class="md:ml-64 transition-all min-h-screen duration-300">
    {{> private/navbar}}

    <div class="grid grid-cols-3 gap-6 p-6">
        <div class="col-span-2">
            <div
                class="bg-gradient-to-r from-[#{{object.paymentMethod.colorStart}}] to-[#{{object.paymentMethod.colorEnd}}] text-[#{{object.paymentMethod.colorText}}] rounded-lg p-6 shadow-lg">
                <div class="flex justify-start items-center gap-6 mb-4">
                    <img src="{{object.paymentMethod.imagePath}}" alt="Foto de perfil" class="w-24 h-full object-cover">
                    <div>
                        <h3 class="text-2xl font-bold">{{object.paymentMethod.name}}</h3>
                        <!-- Usamos un 'badge' de DaisyUI -->
                        <div class="badge badge-outline text-white border-white/50 text-xs font-semibold mt-1">
                            agregado:
                            {{#formatDate object.createdAt}}
                            {{this}}
                            {{/formatDate}}
                        </div>
                        <p class="badge badge-outline text-white border-white/50 text-xs font-semibold mt-1">Pagos
                            Totales: 24</p>
                        <p class="badge badge-outline text-white border-white/50 text-xs font-semibold mt-1">Saldo
                            Total: 240.00$</p>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-4">
                {{#each methods as |method|}}
                <div
                    class="bg-gradient-to-r from-[#{{method.paymentMethod.colorStart}}] to-[#{{method.paymentMethod.colorEnd}}] text-[#{{method.paymentMethod.colorText}}] rounded-lg p-6 shadow-lg">
                    <div class="flex justify-start items-center gap-6 mb-4">
                        <img src="{{method.paymentMethod.imagePath}}" alt="Foto de perfil"
                            class="w-24 h-full object-cover">
                        <div>
                            <h3 class="text-2xl font-bold">{{method.paymentMethod.name}}</h3>
                            <!-- Usamos un 'badge' de DaisyUI -->
                            <div class="badge badge-outline text-white border-white/50 text-xs font-semibold mt-1">
                                agregado:
                                {{#formatDate method.createdAt}}
                                {{this}}
                                {{/formatDate}}
                            </div>
                            <a href="/dashboard/users/payment-methods/{{method.id}}"
                                class="mt-3 btn btn-sm border-[#{{method.paymentMethod.colorText}}] text-[#{{method.paymentMethod.colorEnd}}] hover:text-[#{{method.paymentMethod.colorText}}] hover:bg-[#{{method.paymentMethod.colorStart}}] hover:text-[#{{method.paymentMethod.colorEnd}}] px-3 rounded">
                                {{ __ 'common.common_words.show' lang }}
                            </a>
                        </div>
                    </div>

                </div>
                {{/each}}
            </div>
        </div>

        <div class="col-span-1 w-full flex flex-col gap-6">
            {{> private/utils/_user_section user=object.user }}
        </div>
    </div>


</div>