{{> private/slide}}

<div class="md:ml-64 transition-all min-h-screen duration-300">
    {{> private/navbar}}

    <div class="grid grid-cols-3 gap-6 p-6">
        <div class="space-y-6 col-span-2">
            {{#if object}}
            <div id="current-subscription-container" class="">
                <div class="bg-gradient-to-r from-blue-600 to-indigo-700 text-white rounded-lg p-6 shadow-lg">
                    <div class="flex justify-between items-start mb-4">
                        <div>
                            <h3 class="text-2xl font-bold">{{object.plan.name}}</h3>
                            <!-- Usamos un 'badge' de DaisyUI -->
                            <div class="badge badge-outline text-white border-white/50 text-xs font-semibold mt-1">
                                {{object.status}}</div>
                        </div>
                        <div class="text-right">
                            <span class="text-3xl font-extrabold">${{object.plan.price}}</span>
                            <span class="text-sm opacity-80 block">/mes</span>
                        </div>
                    </div>

                    <div class="border-t border-white/20 pt-4">
                        <div class="flex justify-between items-center text-sm">
                            <div>
                                <span class="opacity-80 block">
                                    {{#if object.autoRenew}}
                                    {{__ 'common.subscription.renew_auto' lang}}
                                    {{else}}
                                    {{__ 'common.subscription.renew_manual' lang}}
                                    {{/if}}
                                </span>
                                <span class="font-semibold">
                                    {{#formatDate object.startDate}}
                                    {{this}}
                                    {{/formatDate}}
                                </span>
                            </div>
                            <button
                                class="btn btn-sm bg-white text-blue-700 font-semibold shadow-md hover:bg-gray-100 border-none">
                                {{__ 'common.subscription.change' lang}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="bg-white p-4 sm:p-4 w-full rounded-2xl shadow-lg">
                <h2 class="text-xl font-semibold text-gray-900 border-b border-gray-200 pb-4">{{ __
                    'common.subscription.title' lang }}</h2>
                <div className="text-center text-gray-500 py-8">
                    No tienes ninguna suscripción activa.
                </div>
            </div>
            {{/if}}

            <div class="bg-white p-4 sm:p-4 w-full rounded-2xl shadow-lg">
                <div id="subscription-history-container" class="pt-2 overflow-x-auto">
                    <div class="flex justify-between items-center">
                        <h2 class="text-xl font-semibold text-gray-900">{{ __ 'common.subscription.history' lang }}</h2>
                        {{> private/table/_pagination
                        hasPrev=history.hasPrev
                        currentQuery=history.currentQuery
                        currentPage=history.currentPage
                        totalPages=history.totalPages
                        t=history.hasNext
                        }}
                    </div>
                    {{> private/table/_table
                    list=history.list
                    columns=history.columns
                    actions=history.actions
                    sortParams=history.sortParams
                    currentQuery=history.currentQuery
                    lang=lang
                    }}
                </div>

            </div>
        </div>

        <div class="col-span-1 w-full flex flex-col gap-6">
            {{> private/utils/_user_section user=object.user }}

            {{#if subscriptionNext}}
            <div id="current-subscription-container" class="">
                <div class="bg-gradient-to-r from-slate-400 to-slate-700 text-white rounded-lg p-6 shadow-lg">
                    <div class="flex justify-between items-start mb-2">
                        <div>
                            <h3 class="text-xl font-bold">{{subscriptionNext.plan.name}}</h3>
                            <!-- Usamos un 'badge' de DaisyUI -->
                            <div class="badge badge-outline text-white border-white/50 text-xs font-semibold mt-1">
                                {{subscriptionNext.status}}</div>
                        </div>
                        <div class="text-right">
                            <span class="text-3xl font-extrabold">${{subscriptionNext.plan.price}}</span>
                            <span class="text-xs opacity-80 block">/mes</span>
                        </div>
                    </div>

                    <div class="flex justify-between items-center text-xs">
                        <div>
                            <span class="opacity-80 block">
                                {{__ 'common.subscription.start' lang}}
                            </span>
                            <span class="font-semibold">
                                {{#formatDate subscriptionNext.startDate}}
                                {{this}}
                                {{/formatDate}}
                            </span>
                        </div>
                        <button
                            class="btn btn-xs bg-white text-slate-700 font-semibold shadow-md hover:bg-gray-100 border-none">
                            {{__ 'common.subscription.change' lang}}
                        </button>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>