
<div class="">
    {{#if actions }}
    {{!-- { label: 'common.actions.unique', icon: 'list', link: '/dashboard/users/:id' }; --}}

    {{#if actions.create }}
        {{#ifeq actions.create.action 'modal' }}
        <button class="btn btn-sm text-sm font-medium text-emerald-900 hover:text-white bg-emerald-300 hover:bg-emerald-500"
            onclick="document.getElementById('{{ actions.create.key }}').showModal()">
            {{ __ actions.create.label lang}}
        </button>
        <dialog id="{{ actions.create.key }}" class="modal">
            <div class="modal-box max-h-[90vh] overflow-y-auto">
                <form method="{{actions.create.form.method}}" action="{{actions.create.form.action}}" class="">
                    {{> private/form/_dynamic_form_content form=actions.create.form }}
                </form>
            </div>
        </dialog>
        {{else}}
        <a href="{{ actions.create.link }}" class="btn btn-sm btn-success" target="_blank">
            <i class="bi bi-plus-lg"></i>
            {{ __ actions.create.label lang }}
        </a>
        {{/ifeq}}
        {{#ifeq actions.create.action 'redirect' }}
        <a href="{{ actions.create.link }}" class="btn btn-sm btn-success" target="_blank">
            <i class="bi bi-plus-lg"></i>
            {{ __ actions.create.label lang }}
        </a>
        {{/ifeq}}
    {{/if}}

    {{#if actions.list }}
        <i class="bi bi-list"></i>
        {{ __ actions.list.label lang }}
        </a>
    {{/if}}

    {{/if}}
</div>