{{> private/slide}}

<div class="md:ml-64 transition-all min-h-screen duration-300">
    {{> private/navbar}}

    <div class="grid grid-cols-3 gap-6 p-6">
        <div class="space-y-6 col-span-2">
            {{#if subs}}
            <section class="p-4">
                <div class="flex justify-between items-center mt-4">
                    <h2 class="text-xl font-black">{{ __ 'common.subscription.active_plan' lang }}</h2>
                    {{!-- {{> private/table/_actionsScreen actions=tab.actions }} --}}
                    {{> private/table/_pagination
                    hasPrev=subs.hasPrev
                    currentQuery=subs.currentQuery
                    currentPage=subs.currentPage
                    totalPages=subs.totalPages
                    t=subs.hasNext
                    }}
                </div>
                {{> private/table/_table
                list=subs.list
                columns=subs.columns
                actions=subs.actions
                sortParams=subs.sortParams
                currentQuery=subs.currentQuery
                lang=lang
                }}
            </section>
            {{/if}}
        </div>
        <div class="">
            <div
                class="bg-gradient-to-r from-[#{{object.colorStart}}] to-[#{{object.colorEnd}}] text-[#{{object.colorText}}] rounded-lg p-6 shadow-lg">
                <div class="flex flex-col justify-center items-center mb-4">
                    <img src="{{object.imagePath}}" alt="Foto de perfil" class="w-24 h-full object-cover">
                    <h3 class="text-2xl font-bold text-center">{{object.name}}</h3>
                    <!-- Usamos un 'badge' de DaisyUI -->
                    <div
                        class="badge badge-outline text-[#{{object.colorText}}]/50 border-[#{{object.colorText}}]/50 text-xs font-semibold mt-1">
                        agregado:
                        {{#formatDate object.createdAt}}
                        {{this}}
                        {{/formatDate}}
                    </div>
                    <p
                        class="badge badge-outline text-[#{{object.colorText}}]/50 border-[#{{object.colorText}}]/50 text-xs font-semibold mt-1">
                        Pagos
                        Totales: 24</p>
                    <p
                        class="badge badge-outline text-[#{{object.colorText}}]/50 border-[#{{object.colorText}}]/50 text-xs font-semibold mt-1">
                        Saldo
                        Total: 240.00$</p>
                </div>
            </div>
        </div>
    </div>
</div>