<div class="mb-5">
    <div class="mb-5">
        {{#ifeq subscription.status 'ACTIVE'}}
                <span class="text-sm font-medium text-gray-500">{{ __ 'common.subscription.now' lang }}</span>

        {{else}}
            {{#ifeq subscription.status 'EXPIRED'}}
                    <span class="text-sm font-medium text-gray-500">{{ __ 'common.subscription.prev' lang }}</span>
            {{/ifeq}}
            {{#ifeq subscription.status 'NEXT'}}
                    <span class="text-sm font-medium text-gray-500">{{ __ 'common.subscription.next' lang }}</span>
            {{/ifeq}}
        {{/ifeq}}
        <p class="text-2xl font-bold text-blue-600">{{ subscription.plan.name }}</p>
    </div>

    <div class="flex justify-between items-center mb-6">
        <div>
            <span class="text-sm font-medium text-gray-500">{{ __ 'common.subscription.status' lang }}</span>

            {{#ifeq subscription.status 'ACTIVE'}}
                <p class="text-md font-semibold text-green-600 bg-green-100 px-3 py-1 rounded-full inline-block">{{subscription.status}}</p>
            {{else}}
                {{#ifeq subscription.status 'EXPIRED'}}
                    <p class="text-md font-semibold text-red-600 bg-red-100 px-3 py-1 rounded-full inline-block">{{subscription.status}}</p>
                {{else}}
                    <p class="text-md font-semibold text-slate-600 bg-slate-100 px-3 py-1 rounded-full inline-block">{{subscription.status}}</p>
                {{/ifeq}}
            {{/ifeq}}
        </div>
        <div>
            <span class="text-sm font-medium text-gray-500">{{ __ 'common.subscription.expiration' lang}}</span>
            <p class="text-md font-semibold text-gray-800">{{ formatDate subscription.endDate }}</p>
        </div>
    </div>
</div>